	<div class="cat-container">
	<div class="main-head">
		<h2 class="hn" ><span>Category name</span></h2>
	</div>
	<div class="main-subhead">
		<p class="item-summary"><span>
		<strong class="subject-title">Forums</strong>
		<strong class="info_topics">topics</strong>
		<strong class="info_posts">posts</strong>
		<strong class="info_lastpost">last post</strong>
		</span></p>
	</div>
	<div class="main-content main-category">
		<div class="main-item">
			<span class="icon "><!-- --></span>
			<div class="item-subject">
				<h3 class="hn">
					<a class="external" href="">
						<span>Forum_name</span>
					</a>
				</h3>
				<p>
					<span class="modlist"><span>Moderated by</span>
						<span class="mod-item"><a href=""></a>; </span> 
					</span>
				</p>
			</div>
			<ul class="item-info">
				<li class="info_topics">
					<strong>num_topics</strong> 
					<span class="label">

					</span>
				</li>
				
				<li class="info_posts">
					<strong>num_posts</strong> 
					<span class="label">

					</span>
				</li>

				<li class="info_lastpost last_post">
					<span class="label">Last post</span> 
					<strong>
						<a href="">last_post</a>
					</strong> 
					<cite>Last poster</cite>
				</li>
				<li class="info_lastpost never"><strong>Never</strong></li>
			
			</ul>
		</div>
	</div>
	</div><!-- cat-container -->
	<div id="cat-container-empty">
	<div class="main-head">
		<h2 class="hn"><span>Forum message</span></h2>
	</div>
	<div class="main-content main-message">
		<p>Empty board</p>
	</div>
	</div>

<div id="brd-stats" class="gen-content">
	<h2 class="hn"><span>Statistics</span></h2>
	<ul>
	<li id="no_of_users" class="st-users"><span>No of users</span></li>
	<li id="newest_user" class="st-users"><span>Newest user</span><strong>
		<a href="">username</a>
		</strong>
	</li>
	<li id="no_of_topics" class="st-activity"><span>No of topics</span></li>
	<li id="no_of_posts" class="st-activity"><span>No of posts</span></li>
	</ul>
</div>


<div id="brd-online" class="gen-content">
	<h3 class="hn"><span>Currently online</span></h3>
	<p>Online list</p>
</div>






